.container {
  padding: 15px 30px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: #fff;
}
.container:hover {
  background-color: #194c33;
}
