.container {
  font-family: var(--font-inter);
  font-size: 1.8rem;
  gap: 20px;
}
.catTitle {
  color: #53c28b;
  text-transform: capitalize;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.item {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 60px;
}
/* .item:nth-child(2n + 1) {
  flex-direction: column-reverse;
} */
.imgContainer {
  height: 300px;
  position: relative;
}
.img {
  object-fit: cover;
  border-radius: 5px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.title {
  font-size: 3rem;
}
.desc {
  font-size: 1.8rem;
  font-family: var(--font-hind);
}
@media screen and (min-width: 768px) {
  .item {
    flex-direction: row;
    gap: 50px;
  }
  .item:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
  .content {
    flex: 1;
  }
  .imgContainer {
    flex: 1;
    height: 500px;
  }
  .title {
    font-size: 5rem;
  }
  .desc {
    font-size: 2rem;
  }
}
