.container {
  font-family: var(--font-inter);
  font-size: 1.8rem;
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  margin-top: 4rem;
}
.mainTitle {
  font-size: 4rem;
}
.header {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  font-size: 3rem;
}
.title:hover {
  color: #53c28b;
}
.desc {
  font-size: 1.8rem;
  color: #999;
  font-family: var(--font-hind);
}
.img {
  border-radius: 5px;
  width: 360px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .item {
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }
  .img {
    width: 400px;
  }
  .mainTitle {
    font-size: 8rem;
  }
}
